body{
    margin:0;
    padding:0;
    background:#ffa502;
}
.search{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#2f3542;
    height:40px;
    border-radius: 40px;
    padding:10px;
}
.search-btn{
    color:#ff4757;
    float:right;
    background:#2f3542;
    border-radius: 50%;
    width:40px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.5s;
    cursor:pointer;
}
.search-txt{
    border:none;
    background:none;
    outline:none;
    float:left;
    padding:0;
    color:#dfe4ea;
    font-size:16px;
    transition:0.5s;
    line-height:40px;
    width:0px;
}
.search:hover > .search-btn{
    background:#dfe4ea;
    color:#2f3542;
}

.search:hover > .search-txt{
    width:240px;
    padding:0 6px;
}