
	*{
		font-family: 'Hiragino Sans GB',"simsun","Arial";
	}
	body,p,ul,ol,dl,dt{
		margin:0;
		padding:0;
	}
	ul,ol{
		list-style:none;
	}
	input{
		outline:none;
	}
	a{
		text-decoration:none;
	}
	.container{
		width:1200px;
		height:100%;
		margin:0 auto;
	}