.hd {
	width: 100%;
}
.rightfixed{
	position:fixed;
	width:108px;
	height:170px;
	top:485px;
	right:230px;
}
.logo-search-top div
.bottomfixed{
	position:fixed;
	width:100%;
	height:140px;
	bottom:0px;
	background-color:rgba(0,0,0,0.6);
	z-index:10000;
}
.bottomfixed>.container>a:nth-child(1){
	display:block;
	float:left;
	z-index:-1;
	margin-left:15px;
	cursor:default;
}
.bottomfixed>.container{
	width:1236px;
}
.bottomfixed>.container>div{
	width:36px;
	height:36px;
	border-radius:100%;
	float:right;
	margin-right:15px;
	margin-left:-100px;
	margin-top:10px;
	background-image:url(../img/bottomfixed.png);
	background-size:36px 36px;
	cursor:pointer;
}
.top {
	width: 100%;
	height: 34px;
	color: #646464;
	font-size: 12px;
	background-color: #f9f9f9;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #f2f2f2;
}

.top a {
	color: #646464;
}

.top-left {
	width: 90px;
	height: 25px;
	float: left;
	margin-top: 3px;
	position: relative;
}

.top-left>a {
	position: absolute;
	line-height: 34px;
	display: block;
	width: 90px;
	height: 26px;
	text-align: center;
	background-color: #f9f9f9;
	z-index: 100;
}

.top-left-ul {
	position: absolute;
	width: 298px;
	border: 1px solid #e6e6e6;
	top: 25px;
	left: -1px;
	display: none;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 10px;
}

.top-left-ul>li {
	width: 59px;
	height: 26px;
	float: left;
	text-align: center;
}

.top-left-ul a:hover {
	color: #ff2832;
}

.top-left:hover>a {
	top: -1px;
	left: -1px;
	border: 1px #e6e6e6 solid;
	border-bottom: 0;
	background-color: #fff;
}

.top-left:hover .top-left-ul {
	display: block;
	z-index:99;
}

.top-right {
	height: 100%;
	float: right;
}

.top-right-ul {
	height: 100%;
}

.top-right-ul>li {
	position: relative;
	height: 100%;
	float: left;
	line-height: 34px;
}

.top-right-ul>li:nth-child(odd) {
	width: 82px;
	text-align: center;
}
.top-right-ul>li:nth-child(even){
	color:#dcdcdc;
}
.top-right-ul>li:nth-child(1) {
	width: 180px;
}

.top-right-ul>li>.top-right-ul-a {
	position: absolute;
	display: block;
	left: -3px;
	width: 87px;
	height: 32px;
	z-index: 100;
	text-align: center;
	border: 1px rgba(0,0,0,0) solid;
	margin-top: 2px;
	line-height: 30px;
}

.top-right-ul>li:nth-child(1)>a {
	display: inline;
}

.top-right-ul>li:nth-child(1)>a:nth-child(1) {
	color: #FF2832;
}

.top-right-ul>li:hover>a {
	color: #ff2832;
}

.top-right-ul>li:hover>.top-right-ul-a {
	background-color: #fff;
	border: 1px #e6e6e6 solid;
	border-bottom: 0;
}

.top-right-ul>li:hover .top-right-ul-ul {
	display: block;
	z-index:101;
}

.top-right-ul-ul {
	position: absolute;
	border: 1px #e6e6e6 solid;
	border-top: 0;
	top: 30px;
	left: -3px;
	display: none;
	background-color: #fff;
	z-index:-1; 
}

.top-right-ul-ul>li {
	width: 87px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

.top-right-ul-ul>li:hover {
	background-color: #f2f2f2;
}
.logo{
	width:100%;
	height:100px;
}
.logo-img{
	width:342px;
	height:100%;
	float:left;
}
.logo-search{
	width:585px;
	height:100%;
	float:left;
}
.logo-search-top{
	width:560px;
	height:36px;
	border:2px solid #ff2832;
	margin-top:20px;
}
.logo-search-top input:nth-child(1){
	width:400px;
	height:35px;
	border:0;
	background-color:rgba(0,0,0,0);
	padding-left:10px;
	float:left;
}
.logo-search-top span:nth-child(2){
	position:relative;
	width:102px;
	height:36px;
	float:left;
	outline:none;
	border:0;
	font-weight:bold;
	background-color:#f6f6f6;
	z-index:100;
}
.logo-search-top span:nth-child(2)>a{
	display:block;
	width:102px;
	height:36px;
	color:#969696;
	line-height:36px;
	text-align:center;
}

.logo-search-top span:nth-child(2):hover>ul{
	height:288px;
	display:block;
}
.logo-search-top-ul{
	position:absolute;
	width:100px;
	height:0;
	overflow:scroll;
	border:1px #e6e6e6 solid;
	background-color:#fff;
	top:35px;
	display:none;
}
.logo-search-top-ul>li{
	width:82px;
	height:25px;
	text-align:center;
	line-height:25px;
}
.logo-search-top-ul>li:hover{
	background-color:#c8c8c8;
}
.logo-search-top-ul>li:hover>a{
	color:#fff;
}
.logo-search-top-ul>li>a{
	color: #646464;
	font-size:12px;
}
.logo-search-top div{
	width:46px;
	height:36px;
	background-color:#FF2832;
	float:right;
	color:#fff;
}
.logo-search-top div>img{
	margin-left:10px;
	margin-top:5px;
}
.logo-search-bottom{
	width:100%;
	height:20px;
	margin-top:10px;
}
.logo-search-bottom>ul{
	width:100%;
	height:100%;
	font-size:12px;
}
.logo-search-bottom>ul>li{
	float:left;
	color:#969696;
	margin-right:15px;
}
.logo-search-bottom>ul>li:nth-last-child(1){
	float:right;
	margin-right:20px;
}
.logo-search-bottom>ul>li>a{
	color:#969696;
	font-size:12px;
}
.logo-search-bottom>ul>li>a:hover{
	color:#FF2832;
}
.logo-shopcar{
	width:200px;
	height:36px;
	float:right;
	margin-top:20px;
}
.logo-shopcar>a:nth-child(1){
	border:2px #FF2832 solid;
	border-right:0;
	display:block;
	width:108px;
	height:32px;
	float:left;
	background-color:#FF2832;
	color:#fff;
	font-size:13px;
	text-align:center;
	line-height:36px;
	font-family:Arial;
}
.logo-shopcar>a:nth-child(1)>img{
	float:left;
	margin-top:4px;
	margin-left:10px;
}
.logo-shopcar>a:nth-child(1)>p{
	float:left;
	margin-top:0px;
	margin-left:10px;
}

.logo-shopcar>a:nth-child(2){
	display:block;
	width:86px;
	height:32px;
	float:left;
	border:2px #dcdcdc solid;
	font-family:Arial;
	font-size:13px;
	text-align:center;
	line-height:32px;
	color:#000;
	background-color:#f6f6f6;
}
.logo-shopcar>a:nth-child(1):hover{
	border:2px #dcdcdc solid;
	color:#FF2832;
	background-color:#fff;
	border-right:0;
	background-color:#f6f6f6;
}
.menu-one{
	height:40px;
	width:100%;
	border-bottom:4px #FF2832 solid;
}
.menu-one-left{
	position:relative;
	width:200px;
	height:100%;
	background-color:#FF2832;
	float:left;
}

.menu-one-left-ul-span{
	position:absolute;
	width:996px;
	height:520px;
	background-color:#fff;
	position:absolute;
	top:0;
	left:200px;
	border:2px #FF2832 solid;
	border-top:0;
	display:none;
}
.menu-one-left-ul>li:hover>span{
	display:block;
}
.menu-one-left>a{
	display:block;
	width:100%;
	height:100%;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-weight:bold;
	font-family:Arial;
	font-size:12px;
}
.menu-one-left>a>div:nth-child(1){
	float:left;
	margin-left:20px;
}
.menu-one-left>a>div:nth-child(2){
	float:left;
	margin-left:20px;
	float:right;
	margin-top:12px;
	margin-right:30px;
}
.line{
	width:8px;
	height:8px;
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
	transform:rotate(45deg);
}
.menu-one-left-ul{
	position:absolute;
	display:none;
	top:40px;
	width:100%;
	background-color: #f9f9f9;
	border-top:4px #FF2832 solid;
	z-index:1000;
}
.menu-one-left-ul>li{
	height:32px;
	background-color:#f6f6f6;
}
.menu-one-left-ul>li>a{
	position:absolute;
	z-index:100;
	width:178px;
	height:28px;
	display:block;
	padding-left:20px;
	line-height:32px;
	color:#000;
	font-family:Arial;
	font-size:13px;
	border:2px #f9f9f9 solid;
	border-right:0;
}
.menu-one-right{
	float:left;
	height:40px;
}
.menu-one-right-ul{
	height:100%;
}
.menu-one-right-ul>li{
	width:72px;
	height:100%;
	float:left;
}
.menu-one-right-ul>li:nth-child(1){
	margin-left:30px;
}
.menu-one-right-ul>li>a{
	width:72px;
	height:100%;
	color:#000;
	font-weight:bold;
	display:block;
	text-align:center;
	line-height:40px;
	font-size:14px;
	font-family:Arial;
}
.menu-one-right-ul>li>a:hover{
	color:#FF2832;
}
.menu-two{
	width:100%;
	height:31px;
	background-color:#f5f5f5;
}
.menu-two-ul>li{
	height:31px;
	float:left;
	margin-left:12px;
	line-height:31px;
}
.menu-two-ul a:hover{
	color:#FF2832;
	text-decoration:underline;
}
.menu-two-ul>li>a{
	font-size:12px;
	color: #646464;
}
.menu-two-ul>li:nth-child(even){
	color:#dcdcdc;
}
/**内容**/
.nav{
	width:100%;
}
.nav-banana-one{
	width:100%;
	height:80px;
}
.nav-banana-one img{
	margin-top:15px;
}
.nav-lunbo{
	width:100%;
	height:916px;
	margin-top:10px;
}
.nav-lunbo-left{
	width:190px;
	height:916px;
	float:left;
	border-radius:5px 5px 0 0;
	border:1px #487a6f solid;
}
.nav-lunbo-left>div:nth-child(1){
	width:100%;
	height:35px;
	border-radius:4px 4px 0 0;
	background-color:#487A6F;
	color:#fff;
	line-height:35px;
	text-align:center;
	font-weight:bold;
}
.nav-lunbo-left>hr{
	border:1px #487A6F dashed;
	margin-top:0px;
	margin-bottom:0px;
}
.margin{
	margin:0 auto;
}
.nav-lunbo-left-two{
	position:relative;
	background-color:#fff;
	color:#487A6F;
	line-height:32px;
	font-weight:bold;
	border-top:1px #487A6F dotted;
}
.nav-lunbo-left-samll{
	width:190px;
	
}
.nav-lunbo-left-big{
	width:190px;
	clear:both;
}
.nav-lunbo-left-samll>a{
	width:180px;
	height:100%;
	display:block;
	border-top:1px rgba(0,0,0,0) solid;
	border-bottom:1px rgba(0,0,0,0) solid;
	border-right:1px rgba(0,0,0,0) solid;
	margin-top:-1px;
	padding-left:10px;
	color:#487A6F;
	font-size:14px;
	font-family:Microsoft Yahei;
}
.nav-lunbo-left-big>div{
	width:180px;
	display:block;
	border-top:1px rgba(0,0,0,0) solid;
	border-bottom:1px rgba(0,0,0,0) solid;
	border-right:1px rgba(0,0,0,0) solid;
	margin-top:-1px;
	padding-left:10px;
	color:#487A6F;
	font-size:14px;
	font-family:Microsoft Yahei;
	clear:both;
}
.clearf:before, .clearf:after{
	content:"";
	display:block;
	clear: both;
}
.clearf{
	zoom:1;
}
.g{
	clear:both;
	padding-top:8px;
}
.nav-lunbo-left-samll:hover>a{
	background-color:#fff;
	border-top:1px #487A6F solid;
	border-bottom:1px #487A6F solid;
	border-right:1px #fff solid;
	position:relative;
	width:180px;
	z-index:1001;
}
.nav-lunbo-left-two:hover>span{
	display:block;
	z-index:1000;
}
.nav-lunbo-left-two:hover+div{
	border-top:1px rgba(0,0,0,0) solid;
}
.nav-lunbo-left-big:hover>div{
	border-top:1px #487A6F solid;
	border-bottom:1px #487A6F solid;
	border-right:1px #fff solid;
	position:relative;
	background-color:#fff;
	z-index:1001;
}
.nav-lunbo-left-big>div>div:nth-child(2){
	margin-top: -10px;
	clear:both;
}
.clearfix:after{
	content:"|";
	display:block;
	color:#929292;
	visibility:hidden;
}
.nav-lunbo-left-big>div>div:nth-child(2)>a{
	color:#487A6F;
	font-size:12px;
	color:#929292;
	display:block;
	float:left;
	padding-right:5px;
	font-family:Arial;
	line-height:23px;
}
.nav-lunbo-left-big>div>div:nth-child(2)>a:hover{
	color:rgb(236,120,20);
	text-decoration: underline;
}
.nav-lunbo-left-two-span{
	position:absolute;
	left:190px;
	top:-1px;
	width:590px;
	height:500px;
	border:1px #487A6F solid;
	display:none;
	background-color:#fff;
	box-shadow:-1px 1px 8px #bbb;
}
.nav-lunbo-zhong{
	float:left;
	margin-left:9px;
	width:750px;
	height:916px;
}
.nav-lunbo-zhong-top{
	width:100%;
	height:315px;
	position:relative;
}
.nav-lunbo-zhong-ula>li{
	position:absolute;
	top:0;
	left:0;
}
.nav-lunbo-zhong-ulb{
	position:absolute;
	bottom:10px;
	right:0;
	z-index:100;
}
.nav-lunbo-zhong-ulb>li{
	width:21px;
	height:21px;
	background-color:#fff;
	float:left;
	border-radius:100%;
	margin-right:10px;
}
.nav-lunbo-zhong-ulb>li>a{
	width:100%;
	height:100%;
	line-height:22px;
	display:block;
	text-align:center;
	font-family:arial;
	border-radius:100%;
	color:#000;
}
.nav-lunbo-zhong-ulb>li:hover>a{
	background-color:#FF2832;
	color:#fff;
}
.nav-lunbo-zhong-bottom{
	width:100%;
	height:601px;
	overflow:hidden;
}
.nav-lunbo-zhong-bottom-img{
	width:750px;
	height:43px;
	background-image:url(../img/new_book.png);
	background-size:750px 43px;
	margin-top:11px;
}
.nav-lunbo-zhong-bottom-lunbo{
	position:relative;
	margin-top:25px;
	width:100%;
	height:523px;
}
.nav-lunbo-zhong-long{
	position:absolute;
	width:8888px;
	height:535px;
}
.nav-lunbo-zhong-bottom-lunbo-ul{
	width:800px;
	height:535px;
	top:0;
	left:0;
	float:left;
}
.nav-lunbo-zhong-bottom-lunbo-ul>li{
	width:150px;
	height:250px;
	background-color:#fff;
	float:left;
	margin-right:50px;
	margin-bottom:16px;
}
.bookimg{
	width:150px;
	height:150px;
	display:block;
}
.bookname{
	display:block;
	width:130px;
	height:15px;
	padding-left:20px;
	color:#000;
	font-size:12px;
	font-family:arial;
	margin-top:5px;
}
.bookname:hover{
	color:rgb(230,120,20);
	text-decoration:underline;
}
.bookren{
	display:block;
	width:130px;
	height:15px;
	padding-left:20px;
	color: #BBBBBB;
	font-size:12px;
	font-family:arial;
	margin-top:5px;
}
.bookqian{
	display:block;
	width:130px;
	height:15px;
	padding-left:20px;
	font-size:14px;
	font-family:arial;
	margin-top:5px;
}
.bookqian>span:nth-child(1){
	float:left;
	color:rgb(204,51,0);
	font-weight:bold;
	font-family:arial;
}
.bookqian>span:nth-child(2){
	float:right;
	color: #BBBBBB;
	margin-right:30px;
	font-family:arial;
}
.bookimga{
	display:block;
	float:left;
}
.booknamea{
	display:block;
	color:#000;
	font-size:12px;
	font-family:arial;
	margin-top:5px;
}
.booknamea:hover{
	color:rgb(230,120,20);
	text-decoration:underline;
}
.bookrena{
	display:block;
	color: #BBBBBB;
	font-size:12px;
	font-family:arial;
	margin-top:5px;
}
.bookqiana{
	display:block;
	font-size:14px;
	font-family:arial;
	margin-top:5px;
}
.bookqiana>span:nth-child(1){
	display:block;
	color:rgb(204,51,0);
	font-weight:bold;
	font-family:arial;
	margin-bottom:3px;
}
.bookqiana>span:nth-child(2){
	display:block;
	color: #BBBBBB;
	margin-right:30px;
	font-family:arial;
	margin-bottom:3px;
}
.button-left{
	position:absolute;
	top:41%;
	left:0;
	width:25px;
	height:50px;
	background-color:#c8c8c8;
	text-align:center;
	line-height:50px;
	color:#fff;
	font-weight:bold;
	font-size:22px;
	cursor:pointer;
}
.button-right{
	position:absolute;
	top:41%;
	right:0;
	width:25px;
	height:50px;
	background-color:#c8c8c8;
	text-align:center;
	line-height:50px;
	color:#fff;
	font-weight:bold;
	font-size:22px;
	cursor:pointer;
}
.button-ul{
	position:absolute;
	top:95%;
	left:45%;
}
.button-ul>li{
	width:10px;
	height:10px;
	border-radius:100%;
	background-color:#c8c8c8;
	float:left;
	margin-right:10px;
	cursor:pointer;
}
.button-ul>li:hover{
	background-color:#487A6F;
}
.nav-lunbo-right{
	width:240px;
	height:916px;
	float:left;
	margin-left:9px;
}
.nav-lunbo-right-top{
	width:100%;
	height:108px;
	border:1px #eaeaea solid;
}
.nav-lunbo-right-top>div:nth-child(1)>h2{
	font-size:16px;
	margin:5px 10px;
	font-family:arial;
}
.nav-lunbo-right-top>ul:nth-child(2){
	margin-left:10px;
}
.nav-lunbo-right-top>ul:nth-child(2)>li{
	margin-bottom:5px;
}
.nav-lunbo-right-top>ul:nth-child(2)>li:hover>a{
	color:rgb(236,120,20);
	text-decoration:underline;
}
.nav-lunbo-right-top>ul:nth-child(2) a{
	font-family:arial;
	font-size:12px;
	color:#000;
}
.nav-lunbo-right-zhong{
	width:100%;
	height:193px;
	border:1px #eaeaea solid;
	margin-top:10px;
}
.nav-lunbo-right-zhong h2{
	margin:0;
	font-family:arial;
	font-size:16px;
}
.nav-lunbo-right-zhong>div:nth-child(1){
	margin-top:5px;
	width:100%;
	height:25px;
}
.nav-lunbo-right-zhong>div:nth-child(1)>span:nth-child(1){
	float:left;
	margin-left:10px;
}
.nav-lunbo-right-zhong>div:nth-child(1)>span:nth-child(2){
	float:right;
	margin-right:10px;
	margin-top:2px;
}
.nav-lunbo-right-zhong>div:nth-child(1)>span:nth-child(2)>a{
	font-size:12px;
	color:rgb(80,151,188);
	font-family:arial;
	font-weight:bold;
}
.nav-lunbo-right-zhong>div:nth-child(1)>span:nth-child(2)>a:hover{
	text-decoration:underline;
}
.nav-lunbo-right-lunbo{
	position:relative;
	width:240px;
	height:155px;
	overflow:hidden;
}
.nav-lunbo-right-lunbo-ul{
	width:8888px;
	position:absolute;
	height:100%;
	top:10px;
}
.nav-lunbo-right-lunbo-ul>li{
	width:240px;
	float:left;
}
.nav-lunbo-right-lunbo-ul>li>span{
	float:left;
	display:block;
	margin-left:10px;
	margin-top: 15px;
	width:90px;
	height:120px;
}
.nav-lunbo-right-bottom{
	width:100%;
	height:592px;
	margin-top:10px;
	margin-left:1px;
}
.nav-lunbo-right-bottom>div:nth-child(1){
	width:100%;
	height:40px;
	background-image:url(../img/sprite.png);
	background-position:5px 0;
	background-repeat:no-repeat;
}
.nav-lunbo-right-bottom>div:nth-child(1)>a{
	text-align:center;
	line-height:38px;
	color:rgb(215,40,50);
	font-family:arial;
	font-weight:bold;
	padding-left:35px;
}
.nav-lunbo-right-bottom-ul{
	border:1px #eaeaea solid;
	width:100%;
	height:552px;
}
.nav-lunbo-right-bottom-ul>li{
	border:1px #eaeaea solid;
	border-left:0;
	border-top:0;
	float:left;
	font-size:12px;
	width:47px;
	height:25px;
	color:#000;
}
.nav-lunbo-right-bottom-ul>li>span{
	display:block;
	text-align:center;
	line-height:25px;
	margin-top:-1px;
	border-top:2px #487A6F00 solid;
	font-family:arial;
	cursor:pointer;
}
.nav-lunbo-right-bottom-ul>li:nth-child(1)>span{
	border-top:2px #487A6F solid;
	font-weight:bold;
	height:27px;
	background-color:#fff;
	color:#487A6F;
}
.nav-lunbo-right-bottom-ul>li:hover>span{
	border-top:2px #487A6F solid;
	font-weight:bold;
	height:27px;
	background-color:#fff;
	color:#487A6F;
}
.nav-lunbo-right-bottom-ul>li:nth-last-child(1){
	border-right:0;
	width:48px;
}
.nav-lunbo-right-bottom-ul-ul{
	width:240px;
	height:527px;
	margin-top:35px;
}
.nav-lunbo-right-bottom-ul-ul>li{
	position:relative;
	width:220px;
	height:35px;
	border-bottom:1px #eaeaea dotted;
	margin-left:10px;
}
.nav-lunbo-right-bottom-ul-ul>li:nth-child(1){
	height:150px;
}

.xuhao{
	position:absolute;
	font-family:arial;
	top:10px;
	left:10px;
}

.nav-lunbo-right-bottom-ul-ul>li:nth-child(-n+3) .xuhao{
	color:red;
}
.qianggo{
	position:absolute;
	left:80px;
	top:10px;
}
.miaoshu{
	display:block;
	height:35px;
	font-family:arial;
	font-size:12px;
	line-height:35px;
	padding-left:37px;
}
.nav-dujia{
	width:100%;
	height:603px;
	padding-top:15px;
}
.nav-dujia-left{
	width:950px;
	height:582px;
	float:left;
}
.nav-dujia-right{
	width:240px;
	height:535px;
	float:right;
}
.background-top{
	position:relative;
	width:950px;
	height:50px;
	background-image:url(../img/title_sprite.png);
	background-repeat:no-repeat;
	border-bottom:1px #487A6F solid;
}
.nav-dujia-top-ul{
	position:absolute;
	width:800px;
	height:35px;
	bottom:-1px;
	right:18px;
}
.nav-dujia-top-ul>li{
	float:left;
	width:68px;
	height:32px;
	line-height:35px;
	border:2px #fff solid;
	border-bottom:0;
	border-radius:5px 5px 0 0;
	background-color:#fff;
}
.nav-dujia-top-ul>li>span{
	display:block;
	width:68px;
	height:32px;
	font-size:14px;
	color:#666;
	font-family:arial;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
}
.nav-dujia-top-ul>li:hover{
	border:2px #487A6F solid;
	border-bottom:0;
	height:33px;
}
.nav-dujia-top-ul>li:nth-child(1){
	border:2px #487A6F solid;
	border-bottom:0;
	height:33px;
}
.nav-dujia-bottom{
	width:1000px;
	height:513px;
	padding-top:20px;
}
.nav-dujia-bottom>li{
	float:left;
	width:150px;
	height:270px;
	margin-right:47px;
}
.bookrenb{
	display:block;
	width:100px;
	height:20px;
	padding-left:44px;
	color:#487A6F;
	font-size:12px;
	font-family:arial;
	background-image:url(../img/sprite.png);
	background-repeat:no-repeat;
	background-position:20px -90px;
	margin-top:5px;
}
.bookxing{
	display:block;
	width:70px;
	height:14px;
	margin-left:20px;
	color:#487A6F;
	font-size:12px;
	font-family:arial;
	background-image:url(../img/book_star_bg.png);
	background-position:0px 0px;
	margin-top:5px;
}
.nav-banana-two{
	width:100%;
	height:200px;
	padding-top:30px;
	padding-bottom:10px;
}
.nav-banana-two>.container{
	border-top:1px #eaeaea solid;
	border-bottom:1px #eaeaea solid;
}
.nav-banana-two ul{
	width:1227px;
	height:140px;
	margin-top:30px;
}
.nav-banana-two ul>li{
	float:left;
	margin-right:27px;
}
.nav-zuozhe{
	width:100%;
	height:510px;
}
.nav-zuozhe-left{
	width:950px;
	height:510px;
	border:1px #eaeaea solid;
	float:left;
}
.nav-zuozhe-right{
	width:240px;
	height:510px;
	float:right;
}
.nav-zuozhe-left-ul{
	width:100%;
	height:39px;
	border-bottom:1px #eaeaea solid;
}
.nav-zuozhe-left-ul>li{
	float:left;
	width:122px;
	height:37px;
}
.nav-zuozhe-left-ul>li>span{
	display:block;
	width:122px;
	height:38px;
	line-height:37px;
	text-align:center;
	cursor:pointer;
	font-family:Microsoft Yahei;
	border:1px rgba(0,0,0,0) solid;
	border-top:2px rgba(0,0,0,0) solid;
	margin:-2px 0 0 -1px;
}
.nav-zuozhe-left-ul>li:hover>span{
	border:1px #EAEAEA solid;
	border-bottom:0;
	border-top:2px #487A6F solid;
	height:40px;
	background-color:#FFFFFF;
}
.nav-zuozhe-left-ul>li:nth-child(1)>span{
	border:1px #EAEAEA solid;
	border-bottom:0;
	border-top:2px #487A6F solid;
	height:40px;
	background-color:#FFFFFF;
}
.nav-zuozhe-left-bottom{
	position:relative;
	width:938px;
	height:471px;
	padding-left:10px;
	overflow:hidden;
}
.nav-zuozhe-left-bottom-div{
	width:750px;
	height:196px;
	
}
.nav-zuozhe-left-bottom-div>span:nth-child(1){
	display:block;
	float:left;
	width:33px;
	height:46px;
	color:rgb(255,79,75);
	font-family:Microsoft Yahei;
}
.nav-zuozhe-left-bottom-div>span:nth-child(1)>span{
	font-size:30px;
	font-family:Microsoft Yahei;
	font-weight:bold;
	color:rgb(255,79,75);
}
.nav-zuozhe-left-bottom-div>a:nth-child(2){
	display:block;
	float:left;
	width:143px;
	height:143px;
	margin:20px 0 0 10px;
}
.nav-zuozhe-left-bottom-div>p:nth-child(3){
	display:block;
	font-family:arial;
	float:left;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	margin:40px 0 0 20px;
}
.nav-zuozhe-left-bottom-div>p:nth-child(3):hover{
	color:rgb(236,120,20);
	text-decoration:underline;
}
.nav-zuozhe-left-bottom-div>p:nth-child(4){
	display:block;
	font-size:12px;
	font-family:arial;
	margin:5px 0 0 20px;
	float:left;
	width:544px;
	color:rgb(102,102,102);
	line-height:25px;
}
.nav-zuozhe-left-bottom-ula{
	position:absolute;
	width:140px;
	height:450px;
	float:right;
	background-color:rgb(248,248,248);
	border:1px rgb(225,225,225) solid;
	top:10px;
	right:10px;
}
.nav-zuozhe-left-bottom-ula>li{
	width:130px;
	height:44px;
	border-bottom:1px rgb(225,225,225) solid;
	margin-left:5px;
}
.nav-zuozhe-left-bottom-ula>li:nth-last-child(1){
	border:0;
}
.nav-zuozhe-left-bottom-ula>li>span{
	display:block;
	padding:15px 0 0 10px;
	color:rgb(72,122,111);
	font-family:arial;
	font-size:14px;
	float:left;
}
.nav-zuozhe-left-bottom-ula>li>a{
	display:block;
	float:left;
	margin:13px 0 0 15px;
	font-size:14px;
	font-family:arial;
	color:rgb(64,64,64);
}
.nav-zuozhe-left-bottom-ula>li:nth-last-child(1)>a{
	margin-left:8px;
}
.nav-zuozhe-left-bottom-ula>li:hover>span{
	color:rgb(255,79,75);
}
.nav-zuozhe-left-bottom-ula>li:hover>a{
	color:rgb(255,79,75);
}
.nav-zuozhe-left-bottom-line{
	width:750px;
	height:24px;
	
	margin-top:-10px;
}
.nav-zuozhe-left-bottom-line>span:nth-child(1){
	display:block;
	width:66px;
	height:24px;
	background-color:rgb(248,248,248);
	font-size:14px;
	font-family:arial;
	line-height:24px;
	text-align:center;
	border-radius:5px;
	float:left;
}
.nav-zuozhe-left-bottom-line>span:nth-child(2){
	display:block;
	width:660px;
	border-top:1px #EAEAEA dotted;
	margin:12px 0 0 20px;
	float:left;
}
.nav-zuozhe-right>ul{
	width:240px;
	height:510px;
}
.nav-zuozhe-right>ul>li{
	width:100%;
	height:120px;
	margin-bottom:10px;
}
.nav-lunbo-right-bottom-ul-ul>li:nth-last-child(1){
	border:0;
}
.nav-like{
	width:100%;
	height:550px;
}
.nav-like-top{
	width:1050px;
	padding-left:150px;
	padding-top:1px;
}
.nav-like-top>span{
	display:block;
	width:50px;
	height:25px;
	padding-left:25px;
	background-image:url(../img/sprite.png);
	background-repeat:no-repeat;
	background-position:0 -52px;
	margin-top:13px;
	color:rgb(34, 139, 193);
	font-size:14px;
	cursor:pointer;
	font-family:arial;
}
.nav-like-top>span:hover{
	text-decoration:underline;
}
.nav-like-bottom{
	width:100%;
	height:470px;
}
.nav-like-bottom-left{
	width:960px;
	height:470px;
	overflow:hidden;
	float:left;
}
.nav-like-bottom-right{
	width:240px;
	height:470px;
	float:right;
	background-color:rgb(247, 247, 247);
}
.nav-like-bottom-right>h1{
	font-size:16px;
	color:#487A6F;
	font-family:Microsoft Yahei;
	padding:10px 0 0 20px;
}
.nav-like-bottom-right>ul{
	width:191px;
	height:150px;
	padding-left:20px;
}
.nav-like-bottom-right>ul>li{
	width:95px;
	height:30px;
	float:left;
}
.nav-like-bottom-right>ul>li>a{
	font-size:12px;
	font-family:arial;
	color:#000;
}
.nav-like-bottom-right>ul>li>a:hover{
	color:rgb(236,120,20);
	text-decoration:underline;
}
.nav-duzhe{
	width:100%;
	height:590px;
}
.nav-duzhe-left{
	width:950px;
	height:100%;
	float:left;
}
.nav-like-bottom-left>ul>li{
	margin-bottom:-40px;
}
.nav-duzhe-left>.nav-dujia-top>ul>li{
	float:right;
	width:100px;
}
.nav-duzhe-left>.nav-dujia-top>ul>li>span{
	width:100px;
}
.nav-duzhe-left-bottom{
	width:100%;
	height:550px;
}
.nav-duzhe-left-bottom-top{
	width:100%;
	height:200px;
	padding:10px 0 10px 0;
}
.nav-duzhe-left-bottom-top>a:nth-child(1){
	display:block;
	width:200px;
	height:200px;
	float:left;
}
.nav-duzhe-left-bottom-top>span:nth-child(2){
	display:block;
	width:730px;
	float:right;
}
.nav-duzhe-left-bottom-top>span:nth-child(2)>a:nth-child(1){
	width:100%;
	height:28px;
	display:block;
	font-family:arial;
	font-size:14px;
	color:#000;
	font-weight:bold;
	padding-top:10px;
	margin:0;
}
.nav-duzhe-left-bottom-top>span:nth-child(2)>a:nth-child(1):hover{
	color:rgb(236,120,20);
	text-decoration:underline;
}
.nav-duzhe-left-bottom-top>span:nth-child(2)>span:nth-child(2){
	margin:0;
}
.nav-duzhe-left-bottom-top>span:nth-child(2)>p{
	display:block;
	width:730px;
	margin-top:5px;
	font-size:12px;
	line-height:25px;
	color:rgb(102, 102, 102);
	font-family:arial;
}
.nav-duzhe-left-bottom-zhong{
	width:940px;
	border-top:1px #CCCCCC dotted;
	margin:10px 0 0 10px;
}
.nav-duzhe-left-bottom-bottom{
	position:relative;
	overflow:hidden;
	width:960px;
	height:260px;
}
.nav-duzhe-left-bottom-bottom-ul{
	position:absolute;
	top:0;
	left:0;
	width:8888px;
	height:260px;
}
.nav-duzhe-left-bottom-bottom-ul>ul{
	height:260px;
	float:left;
}
.nav-duzhe-right{
	width:240px;
	height:580px;
	float:right;
}
.nav-duzhe-right>div:nth-child(1){
	width:240px;
	height:84px;
}
.nav-duzhe-right>div:nth-child(2){
	width:238px;
	height:500px;
	border:1px #CCCCCC solid;
	margin-top:-38px;
	padding-top:35px;
	margin-left:-1px;
}
.nav-duzhe-right>div:nth-child(2)>h3{
	color:#487A6F;
	font-size:18px;
	font-family:Microsoft Yahei;
	font-weight:500;
	margin-bottom:0;
	margin-left:20px;
}
.nav-duzhe-right>div:nth-child(2)>a:nth-child(2){
	display:block;
	margin:5px 0 0 20px;
	color:#000;
	font-family:arial;
	font-weight:bold;
	font-size:14px;
}
.nav-duzhe-right>div:nth-child(2)>a:nth-child(2):hover{
	color:rgb(236,120,20);
	text-decoration:underline;
}
.nav-duzhe-right>div:nth-child(2)>a:nth-child(3){
	width:100%;
	display:block;
	margin:40px 0 0 0px;
	text-align:center;
}
.nav-duzhe-right>div:nth-child(2)>a:nth-child(4){
	width:220px;
	display:block;
	margin:20px 0 0 10px;
	color:#000;
	font-family:arial;
	font-size:12px;
	line-height:24px;
}
.nav-duzhe-right>div:nth-child(2)>a:nth-child(4):hover{
	color:rgb(236,120,20);
	text-decoration:underline;
}
.nav-duzhe-right>div:nth-child(2)>div:nth-child(5){
	width:100%;
	height:28px;
	margin-top:50px;
}
.nav-duzhe-right>div:nth-child(2)>div:nth-child(5)>a:nth-child(1){
	width:98px;
	height:28px;
	display:block;
	text-align:center;
	line-height:28px;
	color:#fff;
	font-family:arial;
	background-color:rgb(255,93,93);
	margin-left:10px;
	float:left;
}
.nav-duzhe-right>div:nth-child(2)>div:nth-child(5)>a:nth-child(2){
	width:98px;
	height:28px;
	display:block;
	text-align:center;
	line-height:28px;
	color:#fff;
	font-family:arial;
	background-color:rgb(72,122,111);
	margin-right:10px;
	float:right;
}
.nav-tejia{
	width:100%;
	height:589;
}
.nav-tejia>.container{
	border-top:1px #CCCCCC solid;
	border-bottom:1px #CCCCCC solid;
	padding-top:30px;
	padding-bottom:10px;
}
.nav-tejia-ul{
	width:100%;
	height:559px;
}
.nav-tejia-ul>li{
	float:left;
	width:199px;
	height:178px;
	border:1px #ccc solid;
	margin:0 -1px -1px 0;
}
.tejia{
	width:100%;
	height:138px;
	display:block;
	text-align:center;
	padding-top:10px;
}
.tejia-span{
	color:rgb(218,36,93);
	font-family:Microsoft Yahei;
	font-size:20px;
	padding-left:10px;
}
.tejia-a{
	color:rgb(102,102,102);
	font-family:arial;
	font-size:12px;
}
.tejia-div{
	margin-top:-3px;
}
.footer{
	width:100%;
}
.footer-yi{
	width:100%;
	height:78px;
	border-top:2px #FF2832 solid;
	border-bottom:1px rgb(235,235,235) solid;
	background-color:rgb(250,250,250);
	margin-top:20px;
}
.footer-yi-ul{
	width:890px;
	height:68px;
	margin-left:210px;
}
.footer-yi-ul>li{
	width:187px;
	height:52px;
	margin:15px 30px 0px 0;
	float:left;
}
.footer-yi-ul>li>a{
	width:187px;
	height:52px;
	display:block;
	background-image:url(../img/footer_bg.png);
	background-repeat:no-repeat;
}
.footer-yi-ul>li:nth-child(2)>a{
	background-position:0 -52px;
}
.footer-yi-ul>li:nth-child(3)>a{
	background-position:0 -104px;
}
.footer-yi-ul>li:nth-child(4)>a{
	background-position:0 -156px;
}
.footer-er{
	width:100%;
	height:140px;
	padding-top:30px;
	border-bottom:1px #ccc solid;
}
.footer-er table{
	margin-left:190px;
}
.footer-er table td{
	width:135px;
	height:20px;
	line-height:20px;
	text-align:center;
}
.footer-er table thead td{
	font-family:"microsoft yahei";
	font-size:14px;
}
.footer-er table td>a{
	color:#929292;
	font-size:12px;
}
.footer-er table td>a:hover{
	color:rgb(236,120,20);
	text-decoration:underline;
}
.footer-san{
	width:100%;
	height:100px;
	padding:17px 0 30px 0;
}
.footer-san-ul{
	margin:5px 0 0 250px;
	height:20px;
}
.footer-san-ul>li{
	color:#929292;
	float:left;
	font-size:12px;
	margin-right:20px;
}
.footer-san-ul>li>a{
	color:#929292;
	font-size:12px;
}
.footer-san-ul>li>a:hover{
	color:rgb(236,120,20);
	text-decoration:underline;
}
.footer-san-span{
	display:block;
	width:960px;
	height:53px;
	padding-top:10px;
	color:#929292;
	font-size:12px;
	text-align:center;
	margin:10px 0 0 135px;
}
.erjia{
	font-size:12px;
	color:#666666;
	font-weight:500;
}
.erjia:hover{
	color:rgb(236,120,20);
	text-decoration:underline;
}